<h1 mat-dialog-title>{{accion}} Usuarios</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPreffix>person</mat-icon>
            <mat-hint>Nombre del usuario</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPreffix>person</mat-icon>
            <mat-hint>Apellido paterno del usuario</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido Materno</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPreffix>person</mat-icon>
            <mat-hint>Apellido materno del usuario</mat-hint>
        </mat-form-field>
    </form>
</div>
